﻿@using SmartManager.Models.Groups;
@model Group

@{
    ViewData["Title"] = "PostGroup";
}

<style>
    body {
        background-color: #f8f9fa;
        font-family: 'Roboto', sans-serif; /* Updated font family */
    }

    form {
        max-width: 800px; /* Adjust the max-width as needed */
        margin: auto;
    }

    .border {
        border: 1px solid #009879;
        border-radius: 10px;
        padding: 20px;
        background-color: #009879; /* Background color for the form */
    }

    h2 {
        color: #007bff;
    }

    label {
        font-weight: bold;
    }

    .form-control {
        margin-bottom: 15px;
    }

    .btn-primary {
        background-color: #0056b3;
        color: #fff;
        border-radius: 5px; /* Rounded corners for the button */
    }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
        border-radius: 5px; /* Rounded corners for the button */
    }

    .border:nth-child(odd) {
        background-color: #f2f2f2; /* Background color for odd rows */
    }

    .border:nth-child(3),
    .border:nth-child(5) {
        background-color: #f2f2f2; /* Background color for the third and fifth rows */
    }

    .border:first-child {
        background-color: #009879; /* Background color for the first row */
        color: #fff; /* Text color for the first row */
    }
</style>

<form method="post" asp-action="PostGroup">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-dark">Add Group</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="GroupName"></label>
            <input asp-for="GroupName" class="form-control" required />
            <span asp-validation-for="GroupName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Add</button>
        <a asp-controller="Group" asp-action="GetGroups" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>



