@using SmartManager.Models.Attendances;
@model IQueryable<Attendance>
@{
    ViewData["Title"] = "Review Attendance";
}

<style>
    h2 {
        color: #333;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }


    strong {
        color: #333;
    }

    .present {
        color: #28a745;
    }

    .absent {
        color: #dc3545;
    }
</style>

<h2>Attendance for Student</h2>

<ul>
    @foreach (var attendance in Model)
    {
        <li>
            <strong>Date:</strong> @attendance.Date.DateTime.ToShortDateString() -
            <strong>Is Present:</strong>
            <span class="@((attendance.IsPresent ? "present" : "absent"))">
                @(attendance.IsPresent ? "Present" : "Absent")
            </span>
        </li>
    }
</ul>
